<div class="container">

<form action="/guild" method="POST">
    <input class="loginT" type="password" name="token" placeholder="TOKEN">
    <br>
    <input class="loginS" type="submit" value="LOGIN WITH TOKEN">
</form>
</div>